@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

@layer components {
  /* if the contant goes beyand 1440px every things will collapsed to next line */
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .gradient {
    background: rgb(31,38,65);
    background: linear-gradient(0deg, rgba(31,38,65,1) 0%, rgba(31,38,65,1) 30%, rgba(43,54,93,1) 58%, rgba(53,66,120,1) 81%, rgba(54,71,136,1) 87%, rgba(83,105,194,1) 100%);
  }
  .gradient-green {
    background: rgb(0, 51, 0);
background: linear-gradient(0deg, rgba(0, 51, 0, 1) 0%, rgba(0, 51, 0, 1) 30%, rgba(0, 77, 0, 1) 58%, rgba(0, 102, 0, 1) 81%, rgba(0, 107, 0, 1) 87%, rgba(0, 128, 0, 1) 100%);

  }
  .gradient_black {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(31,31,33,1) 30%, rgba(38,38,40,1) 58%, rgba(39,40,41,1) 75%, rgba(49,50,52,1) 86%, rgba(86,89,102,1) 100%);
    
  }


  html{
    @apply snap-mandatory snap-y scroll-smooth
  }
  .section{
    @apply h-[80vh]
  }

  .project-shadow{
    box-shadow: -13px 18px 39px 0px rgba(0,0,0,0.34);
-webkit-box-shadow: -13px 18px 39px 0px rgba(0,0,0,0.34);
-moz-box-shadow: -13px 18px 39px 0px rgba(0,0,0,0.34);
  }
  /* .contact-me{
    display: grid;
    grid-templete-columns:repeat(auto-fit, minmax(300px , 1fr));
    grid-auto-rows:6rem;
  } */
  /* circle */
  .glassy-circle {
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 0%, transparent 70%);
    left:58%;
    border: 1px;
    @apply max-lg:hidden 
  }

  .menu_li{
    background-color:#0478e4;
    padding:7px 10px ;
    border-radius:20px;
  }
  .menu_li:nth-child(1){
    position:absolute;
    list-style:none;
    top:30px;
    right:10%;
  }
  .menu_li:nth-child(2){
    position:absolute;
    list-style:none;
    top:70px;
    right:15%;
  }
  .menu_li:nth-child(3){
    position:absolute;
    list-style:none;
    top:120px;
    right:20%;
  }
  .menu_li:nth-child(5){
    position:absolute;
    list-style:none;
    top:220px;
    right:30%;
  }
  .menu_li:nth-child(4){
    position:absolute;
    list-style:none;
    top:170px;
    right:25%;
    
  }
  
  .stick {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 60px;
    background: rgba(255, 255, 255, 0.4);
  }

  .scroll_active {
    @apply w-full ;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
  .full_menu{
    @apply text-white w-full right-0 top-0 h-[100vh] bg-[#131212] absolute z-50 pt-[100px]
  }
  .full_menu_element{
    @apply list-none py-2 items-center justify-center
  }

  .animate{
    @apply duration-500 delay-300 ease-in-out;
    
  }
  
}
@layer components{
  .card-hover{
    @apply inset-0 bg-gradient-to-r from-white to-[#edeff1] opacity-0 hover:opacity-100 rounded-md ;
  }
}
.project{
  width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:2rem; 
  @apply p-2;
}
.card{
  
}
.card:hover{
  transition: all 0.7s ease-in;
  transform: scale(1.02);
  /* transform:scale(0.2,0.4); */
  box-shodow:10px 10px  20px 5px #0478e4;
  /* margin:2rem; */
  /* animation: rotate 1s 1.4s linear; */
}

/* hover */
.text-hover {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in-out; /* Optional: add color transition */
}


/* btn hover */
.btn::before{
  contant:"";
  top:0;
  left:0;
  width:100%;
  height:100;
  backgound:linear-gradient(120deg, transparent , #0478e4, transparent);
  transform:translateX(-100%);
  transform:0.6s;
  position:absolute;
}
.btn:hover{
  backgound:transparent;
  box-shadow:0 0 20px 5px @apply bg-coral-red;
}
/* btn end hover */

.text-hover::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to right, white, #0478e4); /* Gradient from white to #0478e4 */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in;
}
.text-hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to left, white, #0478e4); /* Gradient from white to #0478e4 */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in;
}

.text-hover::before {
  top: 0;
}

.text-hover::after {
  bottom: 0;
}

.text-hover:hover::before,
.text-hover:hover::after {
  transform: scaleY(0);
}
/* end hover */

/* start backgound card */

/* .card-hover:hover{
  transform-origin: right;
  transition: transform 0.6s ease-in;
} */
/* end backgound card */

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
    
  }
  .padding-profile {
    @apply pb-0 sm:px-16 px-8 sm:pt-24 pt-2 ;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}
